$subMenuActiveText: "#fff" !default;
$menuBg: "#2b0e05" !default;
$menuHover: "#e85f33" !default;
$subMenuBg: "#0f0603" !default;
$subMenuActiveBg: "#e85f33" !default;
$menuText: "rgb(254 254 254 / 65%)" !default;
$sidebarLogo: "#441708" !default;
$menuTitleHover: "#fff" !default;
$menuActiveBefore: "#e85f33" !default;
